# ==============================================================================
# APP CRAFT - GITIGNORE
# Mengizinkan seluruh aset foto & folder media agar aktif di GitHub Pages
# ==============================================================================

# Skrip Helper Lokal & Temporary
*.bat
*.ps1
*.py
rename_mismatched.py
PANDUAN.txt
.vscode/
.idea/
Thumbs.db
desktop.ini
